.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  width: 600px;
  border-radius: 5px;
}

.card--hover {
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.bookCover {
  border-radius: 5px;
  max-height: 150px;
  float: left;
  padding: 5px;
}

.container {
  padding: 2px 16px;
  width: 60%;
  float: right;
}

h4, h5, h6 {
  display: none;
}